@import '../variables.scss';

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  #home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2.5rem;
    padding-bottom: 2rem;
    border-radius: 1rem;

    background: radial-gradient(
      circle at bottom,
      transparent 60%,
      rgba($logo-pink, 0.8) 0%
    );
    box-shadow: 4px 6px 8px rgba($logo-pink, 0.2);
    backdrop-filter: blur(8px);

    img {
      height: 350px;
    }

    #home-text-container {
      h1 {
        @include logo;
        font-size: 5rem;
        line-height: 2rem;
      }

      h3 {
        text-align: right;
        font-weight: 100;
        font-size: 1.25rem;
      }
    }

    #home-btn-container {
      display: flex;
      gap: 1.5rem;

      button {
        font-size: 1.25rem;
        padding: 6px 1.5rem 6px 1rem;
        background-color: transparent;
        font-weight: 100;
        border: 1px solid;
        display: flex;
        align-items: center;
        gap: 5px;

        &:hover {
          transition: 800ms;
        }
      }

      label {
        @extend button;
        cursor: pointer;
        color: $pink;
        border-color: $pink;

        &:hover {
          transition: 800ms;
        }

        &:hover {
          background-color: rgba($pink, 0.8);
          color: $off-white;
        }
      }

      input[type='file'] {
        display: none;
      }

      #recent-btn {
        color: $blue;
        border-color: $blue;

        &:hover {
          background-color: rgba($blue, 0.8);
          color: $off-white;
        }
      }

      #new-btn {
        color: $purple;
        border-color: $purple;

        &:hover {
          background-color: rgba($purple, 0.8);
          color: $off-white;
        }
      }
    }
  }
}

#light #home {
  background: radial-gradient(
    circle,
    rgba($off-white, 0.5) 35%,
    rgba($logo-pink, 0.4) 90%
  );
}

#dark #home {
  background: radial-gradient(
    circle,
    rgba($off-black, 0.5) 60%,
    rgba($logo-pink, 0.5) 400%
  );
}
