@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: $main-font;
}

html,
body,
#root,
.App,
.container {
  min-height: 100%;
  height: fit-content;
  width: 100%;
}

.container {
  padding: calc(60px + 2rem);
}

button {
  cursor: pointer;
}

a {
  color: rgb(40, 155, 236);
  text-decoration: none;
}

#light {
  background: $off-white;
  color: $off-black;

  pre {
    background-color: rgba(218, 218, 218, 0.8);
  }
}

#dark {
  background-color: $off-black;
  color: $off-white;

  pre {
    background-color: rgba(58, 58, 58, 0.8);
  }
}
