@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  box-sizing: border-box;
  font-family: $main-font;
}

html,
body,
#root,
.App,
.container {
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

#light {
  background-color: $off-white;
  color: $off-black;
}

#dark {
  background-color: $off-black;
  color: $off-white;
}
